.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
override.tf
overide.tf.json
*_override.tf
*_override.tf.json
.terraformrc
*.box
packer_cache/
.pkrvars.hcl
.ansible/
*.retry
.vagrant/
*.bak
*.back
*.backup
*.ori
*.orig
*.tmp
*.temp
*.temporary
